<form action="/payment/results">

  <label for="girrafe">APR</label>
  <input id="girrafe" type="text" placeholder="E.g. 5.42" name="user_apr">

  <div><label for="elephant">Number of years</label>
  <input id="elephant" type="text" placeholder="How many years to repay" name="user_years">
  </div>
  <label for="zebra">Principal</label>
  <input id="zebra" type="text" placeholder="How much principal?" name="user_pv">


  <div><button>Calculate monthly payment</button></div>
</form>
